<div class="body" style="padding-top: 16px">
  <h3 class="text-center">
    <strong><i class="text-dark">Cadastrar Cursos </i></strong>
  </h3>
  <div class="container">
    <form [formGroup]="formCadastro" (ngSubmit)="onSubmit()">

      <div class="row mb-3">
        <div class="col-md-6">
          <label><strong>Descrição do Assunto</strong></label>
          <input
            type="text"
            class="form-control"
            formControlName="descricao"
            placeholder="EX. ReactJs"
          />
          <div
            class="text-danger"
            *ngIf="descricao!.touched && descricao!.invalid"
          >
            <span *ngIf="descricao!.errors?.['required']">
              <strong> Por favor digite um Curso.</strong>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <label> <strong>N- Alunos</strong></label>
          <input
            type="number"
            class="form-control"
            formControlName="alunos"
            max="45"
            min="1"
          />
          <div class="text-danger" *ngIf="alunos!.touched && alunos!.invalid">
            <span *ngIf="alunos!.errors?.['required']">
              <strong>Insira um número de alunos.</strong></span
            >
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="ls-label col-md-3"
            ><b class="ls-label-text">Inicio</b></label
          >
          <input
            type="date"
            class="form-control ls-mask-phone9_with_ddd"
            formControlName="inicio"
          />
          <div class="text-danger" *ngIf="alunos!.touched && alunos!.invalid">
            <span *ngIf="alunos!.errors?.['required']">
              <strong>Coloque uma data de Inicio.</strong>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <label class="ls-label col-md-3"
            ><b class="ls-label-text">Termino</b></label
          >
          <input type="date" class="form-control" formControlName="termino" />
          <div class="text-danger" *ngIf="alunos!.touched && alunos!.invalid">
            <span *ngIf="alunos!.errors?.['required']">
              <strong> Digite uma data de término.</strong>
            </span>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-12">
          <label class="ls-label col-md-3"
            ><b class="ls-label-text">Categoria</b></label
          >
          <select
            class="form-select"
            aria-label="Default select example"
            formControlName="cat"
          >
            <option *ngFor="let c of categorias" value="{{ c.id }}">
              {{ c.categoria }}
            </option>
          </select>
          <div class="text-danger" *ngIf="cat!.touched && cat!.invalid">
            <span *ngIf="cat!.errors?.['required']">
              <strong>Coloque uma data de Inicio.</strong>
            </span>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <input
            type="submit"
            [disabled]="!formCadastro.valid"
            class="botao-form btn btn-primary"
            value="Salvar Curso"
          />
        </div>

        <div class="col-md-6" >
          <a
            ><input
              type="button"
              class="botao-form btn btn-info float-end"
              value="Voltar"
              (click)="voltar()"
          /></a>
        </div>
      </div>
    </form>
    <br>
  </div>
</div>
