/* You can add global styles to this file, and also import other style files */
html, body {
 position: absolute;
  width: 100%;
  height: 80%;
  background: url(/src/assets/img/Plano_fundo_Cast.png);
  background-repeat: no-repeat;
  background-size: cover; /*Css padrão*/
  -webkit-background-size: cover; /*Css safari e chrome*/
  -moz-background-size: cover; /*Css firefox*/
  -ms-background-size: cover; /*Css IE não use mer#^@%#*/
  -o-background-size: cover; /*Css Opera*/

}
.background{
  width: 100%;
  height: 100%;
 background-image: linear-gradient(55deg, rgba(51, 133, 158, 0.582) 0%, rgba(243, 243, 235, 0.849) 100%);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
